<div class="main-content">
<section>
  <div class="container padding-left:10px mt-5">
    <div class="col-md-6">
      <h2 class="text-center">Edit Product</h2>
      <form
        action="/admin/edit-product/{{product._id}}"
        method="post"
        id="userLogin"
        enctype="multipart/form-data"
      >
        <div class="form-outline mb-4">
          <input
            name="product"
            type="text"
            class="form-control"
            placeholder="Enter Product Name"
            value="{{product.product}}"
          />
        </div>
        <div class="form-outline mb-4">
          <select
            name="Category"
            class="form-select form-select-md mb-3 form-control"
            aria-label=".form-select-lg example"
            id="formGroupExampleInput"
          >
            <option id="formGroupExampleInput" selected>Set Category</option>
            {{#each category}}
              <option value="{{category}}">{{category}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-outline mb-4">
          <input
            name="author"
            type="text"
            class="form-control"
            placeholder="Enter Author Name"
            value="{{product.author}}"
          />
        </div>

        <div class="form-outline mb-4">
          <input
            name="price"
            type="text"
            class="form-control"
            placeholder="Enter price of the product"
            value="{{product.price}}"
          />
        </div>
        <div class="form-outline mb-4">
          <input
            name="image"
            type="file"
            class="form-control"
            placeholder="Chose product image"
          />
        </div>
        {{!-- <a href="/admin/edit-category/{{this._id}}"> <button type="submit" class="btn btn-primary">Submit</button></a> --}}
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</section>
</div>