<div class="main-content">
  <section>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment</th>
          <th scope="col">Status</th>
          <th scope="col">Products</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td scope="row" width="150px">{{this.date}}</td>
            <td scope="row">{{this.deliveryDetails.name}}</td>
            <td scope="row">{{this.deliveryDetails.address}}</td>
            <td scope="row">{{this.totalAmount}}</td>
            <td scope="row">{{this.paymentMethod}}</td>
            <td scope="row">{{this.status}}</td>
            <td scope="row">
              <a
                href="/view-order-product/{{this._id}}"
                class="btn btn-primary"
              >Details</a>
              </td>
            <td>
              {{#if deliveryDetails.action}}

                <select class="" name="forma" onchange="location = this.value;">
                  <option>Change Status</option>
                  <option
                    value="/admin/status-shipped?id={{this._id}}&userId={{this.userId}}"
                  >shipped</option>
                  <option
                    value="/admin/status-delivered?id={{this._id}}&userId={{this.userId}}"
                  >delivered</option>
                  <option
                    value="/admin/status-cancelled?id={{this._id}}&userId={{this.userId}}"
                  >cancel</option>

                </select>
              {{else}}

                <p>cancelled</p>

              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>